/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import '_config.sass'
@import 'modules/palette'
@import 'compass/css3'

.btn
    +transition(all 0.1s ease-in-out)

body
    background-color: scale-color($base, $lightness: 90%)

.masthead
    $masthead: rgba(41,56,79,1)
    margin: 0 -20px
    padding: 20px
    background: $masthead
    h1
<<<<<<< HEAD
        img
            margin-right: 10px
        margin: 0
        a
            color: $lightgray
            text-decoration: none
            &:hover
                color: rgba(234,121,161,1)
    .profile
        height: 50px
        width: 50px
        background-repeat: no-repeat
        background-position: center center
        float: left
        border-radius: 5px
    .btn
        background: darken($masthead, 10%)
        float: left
        margin-left: 10px
        margin-top: 2px
        width: 90px
        &:hover
            background: lighten($masthead, 10%)
=======
	margin: 0
	a
	    color: $lightgray
	    text-decoration: none
	    &:hover
		color: lighten($masthead, 30%)
    .profile
	height: 50px
	width: 50px
	background-repeat: no-repeat
	background-position: center center
	float: left
	border-radius: 5px
    .btn
	background: darken($masthead, 10%)
	float: left
	margin-left: 10px
	margin-top: 2px
	width: 90px
	&:hover
	    background: lighten($masthead, 10%)
>>>>>>> Got rid of background colors



.footer
    margin-top: 20px
    margin-bottom: 20px
    text-align: center

h2
    text-align: center
    font-size: 50px
    line-height: 60px
    margin: 30px 0 30px
    color: $greensea

.hero 
    margin: 0 -20px
    padding: 35px 20px 35px
    text-align: center
    background-color: rgba(41,56,79,1)
    img
        width: 200px
        margin-bottom: 30px
    .text
    h1
        font-size: 65px
        text-shadow: 0 -2px rgba(71,156,213,1)
        color: $lightgray
    h3
        color: $white
        margin-bottom: 20px

.signin
    .btn
        background-color: rgba(229,86,117,1)
        &:hover
            background-color: rgba(234,121,161,1)

.hero-tiles
    .tile-image
        height: 75px
        margin-top: 16px
        margin-bottom: 15px

.form-div
    text-align: left
    .loading
        float: right
        width: 130px
        display: none
    &.form-start
        padding-top: 80px

.partner
    $tile: rgba(210,221,233,1)
    background-color: $tile
    border-radius: 10px
    padding: 0px 0
    border: 1px solid darken($tile, 10%)
    .pic
        text-decoration: none
        height: 0
        padding-bottom: 100%
        background-size: 100%
        display: block
        position: relative
        background-repeat: no-repeat
        background-position: center center
        border-top-left-radius: 10px
        border-top-right-radius: 10px
        &.no-interests
            border-radius: 10px
        .name 
            border-top-left-radius: 10px
            border-top-right-radius: 10px
            height: 90px
            +transition(all 0.3s ease-in-out)
<<<<<<< HEAD
            +background(linear-gradient(rgba(0,0,0,0), $tile))
            &.no-interests
                border-radius: 10px
                height: 60px
                +background(linear-gradient(rgba(0,0,0,0), darken($base, 10%)))
=======
	    +background(linear-gradient(rgba(0,0,0,0), $tile))
            &.no-interests
                border-radius: 10px
                height: 60px
		+background(linear-gradient(rgba(0,0,0,0), darken($base, 10%)))
>>>>>>> Got rid of background colors
            position: absolute
            bottom: 0
            width: 100%
            h3 
                position: absolute
                bottom: 0
                padding-left: 10px
                padding-bottom: 10px
                font-size: 20px
<<<<<<< HEAD
                color: $white
                line-height: 22px
                text-shadow: 1px 1px 30px #000
=======
		color: $white
                line-height: 22px
		text-shadow: 1px 1px 30px #000
>>>>>>> Got rid of background colors
                margin: 0
                +transition(all 0.3s ease-in-out)
        &:hover
            background-size: 110%
<<<<<<< HEAD
            box-shadow: inset 0px 0px 10px #000
    &.small
        width: 100px

    .interests
        margin-bottom: 10px
        margin-left: 10px
        h4
            margin: 0
            color: darken($tile, 30%)
        ul
            margin: 0
        li
            list-style: none
        a
            color: saturate(darken($tile, 25%), 10%)
            +transition(all 0.3s ease-in-out)
            &:hover
                color: $firm
                text-decoration: underline
=======
	    box-shadow: inset 0px 0px 10px #000
    &.small
	width: 100px

    .interests
        margin-bottom: 10px
	margin-left: 10px
	h4
	    margin: 0
	    color: darken($tile, 30%)
	ul
	    margin: 0
	li
	    list-style: none
        a
	    color: saturate(darken($tile, 25%), 10%)
	    +transition(all 0.3s ease-in-out)
	    &:hover
		color: $firm
		text-decoration: underline
>>>>>>> Got rid of background colors

.more
    margin-top: 20px
    margin-bottom: 20px
    .btn
        margin-bottom: 10px
    .homewreck-btn
<<<<<<< HEAD
        background: $pomegranate !important
        &:hover
            background: $alizarin !important
=======
	background: $pomegranate !important
        &:hover
	    background: $alizarin !important
>>>>>>> Got rid of background colors

.top-match
    margin: 0 -20px
    padding: 20px
    h2, h3, h4, li
<<<<<<< HEAD
        color: $firm
    .interests
        margin-top: 20px
        ul
            margin-left: 10px
        li, a
            list-style: none
            color: darken($base, 10%)
=======
	color: $firm
    .interests
	margin-top: 20px
	ul
	    margin-left: 10px
	li, a
	    list-style: none
	    color: darken($base, 10%)
>>>>>>> Got rid of background colors


.contenders
    margin: 0 -20px
    padding: 20px
    h2, li
<<<<<<< HEAD
        color: $peterriver
=======
	color: $peterriver
>>>>>>> Got rid of background colors
