{% set css2="" %}
{% if not interests %}
    {% set css2="no-interests" %}
{% end %}
<div class="span2 partner {{ css }} {{ css2 }} ">
    <a class="pic {{ css2 }}" style="background-image:url('//graph.facebook.com/{{escape(partner["id"])}}/picture?width=200&height=200');" href="https://facebook.com/{{escape(partner["id"])}}" target="_blank">
	<div class="name {{ css2 }}">
	    <h3>{{escape(partner["name"])}}</h3>
	</div>
    </a>
    {% if interests %}
	<div class="interests">
	    <h4>Shared interests</h4>
	    <ul>
		{% for id in partner["likes"] %}
		    {% set name = partner["likes"][id] %}
		    <li><a href="http://facebook.com/{{_(id)}}" target="_blank">{{_(name)}}</a></li>
		{% end %}
	    </ul>
	</div>
    {% end %}
</div>