{% extends "layout.html" %}
{% block title %}
    Your flirting matches...go get 'em
{% end %}
{% block body %}
{% if top_match %}
	<h2>My Top Match</h2>
<div class="top-match">
<div class="row-fluid">
    <div class="span3 partner offset3 top-info">
        <a class="pic no-interests" style="background-image:url('//graph.facebook.com/{{escape(top_match["id"])}}/picture?width=250&height=250');" href="https://facebook.com/{{escape(top_match["id"])}}" target="_blank">
        <div class="name no-interests">
            <h3>{{escape(top_match["name"])}}</h3>
        </div>
        </a>    
    </div>
    <div class="span3 top-interests">
        <h3>Shared interests</h3>
        <ul>    
        {% for key in top_match["likes"] %}
             {% set cat_list = top_match["likes"][key] %}
             {% if len(cat_list) > 0 %}
                {% set key_word_list = key.split("_") %}
                {% set new_key = " ".join(key_word_list).title() %}
                 <h4>{{new_key}}</h4>
                 {% for like in cat_list %}
                     <li><a href="http://facebook.com/{{_(like["id"])}}" target="_blank">{{_(like["name"])}}</a></li>
                 {% end %}
             {% end %}
        {% end %}
        </ul>
        <button class="btn btn-small" type="button" data-toggle="modal" data-target="#message-modal">Send a message</button>
    </div>
{% else %}
    <h1>Uh oh! We couldn't find a match for you!</h1>
    <h2>You should get a social life, make friends, and find new interests.</h2>
{% end %}
</div>
</div>
<div id="message-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="message-model-modal" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Send a message to {{top_match["name"]}}</h3>
    </div>
    <div class="modal-body">
        <form action="/send" method="post">
            <input type="hidden" name="receiver_id" value="{{top_match["id"]}}">
            <textarea cols="15" rows="5" name="msg"></textarea>
    </div>
    <div class="modal-footer">
        <button class="btn btn-large" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <input type="submit" class="btn btn-large btn-danger" value="Send message">
        {% module xsrf_form_html() %}
    </form>
    </div>
</div>
{% end %}


{% block contend_list %}
    {% if matches %}
        <div class="contenders">
            <div class="row-fluid">
            <h2 class="span8 offset2">{{ top_match["name"] }}'s Contenders</h2>
            </div>
            <div class="row-fluid">
                {% set i = 0 %}
                {% set count = 0 %}
                {% for p in matches %}
                    {% set count += 1 %}
                    {% set css = "" %}
                    {% if i % 3 == 0 %}
                    {% if i > 2 %}
                            </div>
                    {% end %}
                    {% set css="offset3" %}
                    <div class="row-fluid">
                    {% end %}
                    {% if i % 3 == 0 %}
                         {% if i > 2 %}
                         </div>
                    {% end %}
                    {% set css="offset3" %}
                        <div class="row-fluid top-contenders">
                    {% end %}
                    {% module Partner(p, count, css, interests=True) %}
                    {% set i = i+1 %}
                {% end %}
             </div>
        </div>
    {% end %}
{% end %}

